<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.springboot.mapper.UserRoleMapper">
    <cache readOnly="true" eviction="FIFO"/>


    <select id="listQuery" parameterType="UserRoleQueryParam" resultType="UserRole">
        SELECT * FROM user_role
    </select>

</mapper>
